#main_area {
	width: 70%;
	padding: 20px 30px;
}

#side_area {
	width: 30%;
	padding: 0 20px;
}

.flexbox {
	display: flex;
}

#article img {
	max-width: 100%;
	height: auto;
}

main {
	padding: 0 100px;
}
