#main_area {
	width: 70%;
	padding: 20px 30px;
}

#side_area {
	width: 300px;
	padding: 0 20px;
}

.flexbox {
	display: flex;
}

main {
	padding: 0 50px;
}


/* post用 */
.wp-embedded-content {
	display: none;
}

#article h1 {
	color: #364e96;
	/*文字色*/
	padding: 0.5em 0;
	/*上下の余白*/
	border-top: solid 3px #364e96;
	/*上線*/
	border-bottom: solid 3px #364e96;
	/*下線*/
	margin: 20px 0;
	font-size: 25px;
}

#article h2 {
	color: #6594e0;
	/*文字色*/
	/*線の種類（点線）2px 線色*/
	border-bottom: dashed 2px #6594e0;
	font-size: 20px;
}


#article h3 {
	padding: 0.25em 0.5em;
	/*上下 左右の余白*/
	color: #494949;
	/*文字色*/
	background: transparent;
	/*背景透明に*/
	border-left: solid 5px #7db4e6;
	/*左線*/
	font-size: 15px;
}

#article img {
	width: 100%;
	max-width: 400px;
	height: auto;
	margin: 10px 0;
}

#parts_frame {
	width: 100% !important;
}